@using RingoMedia.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<Department>

    <h2>Departments</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Name</td>
                    <td><img src="@department.Logo" alt="@department.Name" width="50" height="50" /></td>
                    <td>
                        <a href="@Url.Action("Details", new { id = department.Id })">Details</a> |
                        <a href="@Url.Action("Edit", new { id = department.Id })">Edit</a> |
                        <a href="@Url.Action("Delete", new { id = department.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Department</a>
    <a href="@Url.Action("Index", "Reminder")" class="btn btn-secondary">View Reminders</a>

}
